@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 .3rem 0 .3rem;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

.banner-text h1,
.gamer-text-container h1 {
    background: linear-gradient(180.00deg, rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.primary-btn,
.secondary-btn {
    padding: 1.25rem 2.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 48px;
    background-color: rgb(255, 66, 165);
    border: none;
    cursor: pointer;
}

.secondary-btn {
    background-color: rgb(78, 197, 247);
}

.text-gray {
    color: rgb(83, 76, 100);
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
}

.section-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}



/* navbar related styles starts */
.nav-title {
    display: flex;
    gap: 1.25rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.35rem 0 2.35rem 0;
}

.nav-items,
.contact-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.contact-icons {
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.1);
    padding: 1rem 1.5rem;
}

.nav-title h2 {
    font-weight: 700;
    font-size: 45px;
}

.nav-items p,
a {
    color: rgb(60, 53, 79);
    font-size: 1.15rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/* navbar related styles ends */


/* banner related styles starts */

.banner-text h1 {
    font-size: 6rem;
    font-weight: 800;

    margin-bottom: 3.5rem;
}

.banner-text h2 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(11, 2, 35);
}

.banner-para {
    display: flex;
    gap: .75rem;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.button-container {
    margin-top: 3rem;
}

.banner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.only-for-bg {
    background-image: url(../images/Group\ 14.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* banner related styles ends */

/* gamer section related styles starts */
.background {
    background-color: rgba(255, 66, 165, 0.03);
}

.gamer {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    gap: 3.25rem;
}

.gamer-img-container {
    width: 60%;
}

.gamer-text-container {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 1.25rem;
}

.gamer-text-container h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.gamer-text-container h2 {
    font-size: 2rem;
    font-weight: 700;
}

.gamer-text-container .section-subtitle {
    text-align: right;
    line-height: 2rem;
}




/* gamer section related styles ends */