@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 .3rem 0 .3rem;
}

.gamer,
.funny-videos {
    margin-bottom: 7.5rem;
}
.play-instantly{
    margin-bottom: 9.5rem;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

.banner-text h1,
.gamer-text-container h1,
.funny-title {
    background: linear-gradient(180.00deg, rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.primary-btn,
.secondary-btn {
    padding: 1.25rem 2.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 48px;
    background-color: rgb(255, 66, 165);
    border: none;
    cursor: pointer;
}

.secondary-btn {
    background-color: rgb(78, 197, 247);
}

.text-gray {
    color: rgb(83, 76, 100);
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
}

.section-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    color: rgb(83, 76, 100);
}

/* navbar related styles starts */
.nav-title {
    display: flex;
    gap: 1.25rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.35rem 0 2.35rem 0;
}

.nav-items,
.contact-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.contact-icons {
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.1);
    padding: 1rem 1.5rem;
}

.nav-title h2 {
    font-weight: 700;
    font-size: 45px;
}

.nav-items p,
a {
    color: rgb(60, 53, 79);
    font-size: 1.15rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/* navbar related styles ends */


/* banner related styles starts */

.banner-text h1 {
    font-size: 6rem;
    font-weight: 800;

    margin-bottom: 3.5rem;
}

.banner-text h2 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(11, 2, 35);
}

.banner-para {
    display: flex;
    gap: .75rem;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.button-container {
    margin-top: 3rem;
}

.banner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.only-for-bg {
    background-image: url(../images/Group\ 14.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* banner related styles ends */

/* gamer section related styles starts */
.background {
    background-color: rgba(255, 66, 165, 0.03);
}

.gamer {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    gap: 3.25rem;
}

.gamer-img-container {
    width: 60%;
}

.gamer-text-container {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 1.25rem;
}

.gamer-text-container h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.gamer-text-container h2 {
    font-size: 1.9rem;
    font-weight: 700;
}

.gamer-text-container .section-subtitle {
    text-align: right;
    line-height: 2rem;
}

/* gamer section related styles ends */

/* funny videos section related styles starts */
.funny-videos .section-title,
.funny-videos .section-subtitle {
    text-align: center;
}

.video-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.65rem;
}

.different {
    position: relative;
    display: flex;
}

.different img {
    filter: brightness(.4);
}

.watch {
    position: absolute;
    top: 35%;
    left: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.watch>i {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    color: white;
}

.watch>p {
    font-size: 1.25rem;
    color: rgb(255, 66, 165);
    font-weight: 600;
}

.video-img {
    margin-bottom: 1.25rem;
}

.img-and-text p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 500;
}

/* funny videos section related styles ends */

/* play instantly section related styles starts */
.play-instantly {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    align-items: center;
    gap: 16.5rem;
    /* gap: 7.5rem; */
    text-align: right;
}

.instantly-text-container .section-subtitle {
    max-width: 353px;
}

.instantly-img-container {
    position: relative;

    border: 2px solid red;
}

.card-img-container {
    position: absolute;
    left: -20%;
    bottom: -20%;
    max-width: 15rem;
    
    border: 2px solid green;
}
.card-img-container img{
    border-radius: 8px;
}
/* play instantly section related styles ends */

/* play games online section related styles starts */
.online-play{
    justify-items: start;
    text-align: left;
}
.online-text-container{
    max-width: 353px;
}

.lower{
    max-width: 15rem;
    position: absolute;
    bottom: -20%;
    right: -20%;
}
/* play games online section related styles ends */
